* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(5, 28, 91);
    display: flex;
    top: 0;
    border: solid rgb(5, 28, 91);
    margin: 0.2rem;
    position: sticky;
    justify-content: space-evenly;
}

a {
    color: aliceblue;
}

body {
    background-color: rgb(165, 206, 218);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 270px;
    height: 350px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}

.card-image {
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-image img{
width: 270px;
height: 180px;
border-radius: 8px;
}

.card a {
    border-radius: 8px;
    background-color: rgb(5, 28, 91);
    color: rgb(165, 206, 218);
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover {
    background-color: rgb(62,62,62);
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.03);
    transition: all ls ease;
}

.table {
    display: flex;
    justify-content: space-around;
    
}

th {
    min-width: fit-content;
}

td {
    min-width: fit-content;
}